@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Oswald&display=swap');


$body-bg: #fff;
$main-font: "Roboto";
$main-width: 940px;
$main-padding: 0 10px;
$headline-color: #f35c43;


$font-color: #E65C43;
$h3-color: #666;
$h3-size: 2em;
$line-height: 0;

$font-weights: (
    "h1": 100,
    "h2": 900,
    "h3": 400
);

$content-width: 460px;

$greybar-color: #f5f6f6;
$footer-bg: #30343d;
$text-color: #fff;
$mobile: 800px;

